.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight,
.productTopMiddle {
  flex: 1;
}

.productTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.productFormLeft,
.productFormMiddle {
  display: flex;
  flex-direction: column;
}

.productFormLeft,
.productFormMiddle > label {
  margin-bottom: 10px;
  color: gray;
}

.productFormLeft,
.productFormMiddle > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft,
.productFormMiddle > select {
  margin-bottom: 10px;
}

.productUploadImg {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload {
  display: flex;
  align-items: center;
}

.productButton {
  margin-top: 20px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
